.main-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #83EAF1, #63A4FF);
}

.main-title {
  margin-left: 2rem;
  font-size: 2.5rem;
}

.main-title a {
  color: black;
  text-decoration: none;
}

.content-navigation {
  margin-left: 1rem;
}

.content-navigation-container {
  display: flex;
  margin-left: 1rem;
}

.content-navigation-content {
  width: 10rem;
  text-align: center;
  border-left: 1px solid silver;
  padding: .5rem;
  list-style: none;
}

.content-navigation-content a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.auth-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.auth-navigation a {
  text-decoration: none;
  color: black;
  margin-right: 5rem;
}

.logout {
  font-size: 1.7rem;
}

.signup {
  font-size: 1.5rem;
}

.signin {
  font-size: 1.7rem;
}