.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  height: 50rem;
  margin: 0 auto;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 10rem;
  font-size: 2rem;
}

.email-input {
  display: inline-block;
  height: 3rem;
  margin-left: 6rem;
  border: 1px solid #63A4FF;
}

.pw-input {
  display: inline-block;
  height: 3rem;
  margin-left: 3rem;
  border: 1px solid #63A4FF;
}

.submit-btn {
  width: 10rem;
  height: 4rem;
  background: linear-gradient(to left, #83EAF1, #63A4FF);
  border: none;
  color: white;
  font-size: 1.8rem;
}